body {
    display: block;
    width: 550px;
    text-align: left;
    font-size: 13px;
    margin: 0;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #333;
    background-color: #eee;
    font-size: 15px;
    padding: 3px 0;
}

input[type=text]:focus {
    border: #f0f0f0;
    outline: #f0f0f0;
    box-shadow: #f0f0f0;
}

.button {
    padding: 0px 8px;
    background-color: white;
    border: none;
    color: red;
}

.button:hover {
    background-color: #ff5c5c;
    color: black;
}

table {
    border-collapse: collapse;
    width: 100%;
}

.alias-table-class td {
    border: 1px solid #ddd;
    padding: 0;
}

input.url {
  width: 100%;
  overflow-x: auto;
  white-space: nowrap;
  box-sizing: border-box;
}

td.url {
  max-width: 440px;
  overflow-x: auto;
  white-space: nowrap;
}

td.url, td.alias, td .alias, td .url {
    padding: 0 5px;
}

.alias-widget {
    color: black;
    display: block;
    margin: 0;
    width: min-content;
    border-radius: 0;
    background-color: #fff;
    padding: 0;
    white-space: nowrap;
}

.field {
    margin: 0;
}

.badge {
    color: black;
}

.alias {
    width: 40px;
    border: none;
}

.url {
    white-space: nowrap;
    width: 400px;
    border: none;
}

.error-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 42px;
    background-color: rgba(255, 0, 0, 0.8);
    color: white;
    display: none;
    align-items: center;
    justify-content: center;
    z_index: 1000;
    text-align: center;
    font-size: 1.2;
}

.duplicate {
    color: red;
    background-color: rgba(255, 0, 0, 0.5);
}
