body {
    display: block;
    min-width: 400px;
    text-align: left;
    font-size: 13px;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #333;
    background-color: #eee;
    font-size: 15px;
}

input[type=text]:focus {
    border: #f0f0f0;
    outline: #f0f0f0;
    box-shadow: #f0f0f0;
}

.button {
    padding: 0px 8px;
    background-color: white;
    border: none;
    color: red;
}

.button:hover {
    background-color: #ff5c5c;
    color: black;
}

.alias-table-class {
    border-collapse: collapse;
    width: 100%;
}

.alias-table-class td {
    border: 1px solid #ddd;
    padding: 0;
}

td.url, td.alias, td .alias, td .url {
    padding: 0 5px;
}

.alias-widget {
    color: black;
    display: block;
    margin: 0;
    width: min-content;
    border-radius: 0;
    background-color: #fff;
    padding: 0;
    white-space: nowrap;
}

.field {
    margin: 0;
}

.badge {
    color: black;
}

.alias {
    width: 40px;
    border: none;
}

.url {
    white-space: nowrap;
    width: 400px;
    border: none;
}
